@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&family=Megrim&family=Nova+Cut&display=swap');

*{
  /*O asterisco abaixo indica que as configurações nele contidas valem para todo o site */
    margin: 0;
    padding: 0;
    /*padding mede a distancia entre o conteudo de um elemento e a sua borda. No caso deixamos zerado por padrao para todos  */
    box-sizing:border-box ;
    /* o box sizing zera as configuracoes pre definidas dos box do site, assim eu mesma irei configura-los*/
 }

 /*_____________Header____________*/
.container-grid{
  width: 100%;
  height: 100%;
  margin: auto;
  /*___Para facilitar a organizacao das informacoes e para uma boa pratica entre web-devs, coloca-se sempre infos de altura, largura, posicao antes dos demais ajustes de um elemento */
  display: flex;
  /*____Facilita a organizacao dos elementos e "desbloqueia" outras funcionalidades interessantes*/
  align-items: center;      
  justify-content:space-between;
}

header {
  width: 100%;
  background-color:#EEFFFD; 
  height: 197px;
  background-image: url("src/assets/img/header-novo.png");
  background-repeat:no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}


.menu a {
  width:100%;
  margin-top: auto;
  position:relative;
  color:#fdf973fa;
  text-decoration: none;  
  font-family: 'Nova Cut', cursive;
  font-size:  23px;
  justify-content:flex-end;
  background-image: url("src/assets/img/botoes-circulares.png");
  background-position-x: center;
  background-position-y:center;
  background-repeat: no-repeat;
  background-size: 65px;  
  padding:19px; 
  
}


/*___________Banner___________ */
.banner{ 
  height: 230px;
  width: 100%;
  background-image:url("src/assets/img/Banner.png");
  background-repeat: no-repeat;
  justify-content: center;
  display:flex;
  
  
}
  
.texto-banner p,a {
  color:white;
  font-family: 'Gemunu Libre',sans-serif;
  font-size:  25px;
  justify-content: space-between;
  text-decoration: none;
}

.texto-banner h2{
  color: #fffa7b;
  font-size: 50px;
  font-family: 'Gemunu Libre',sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.posicao-texto{
  justify-content:center;
  align-items:center;
}

/* __________Body_____________*/

body{
  background-color:#FFFBA6;
  align-items: center;
}

.conteudo-body {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content:space-between;
  align-items: center; 
}

.conteudo-body h2{  
  font-family: 'Nova Cut', cursive;
  font-size: 30px;
  color: #BF0505;
}
.conteudo-body p{
  font-family:'Gemunu libre', sans-serif;
  font-size: 25px;
}

.o-que-e{
  margin-top: 15px;
  text-align: justify;
}

.como-jogar{
  margin-top: 15px;
  text-align: justify;
}

.baixar img {
 size:50px;
 
}

.baixar{
  margin-top: 15px;
  margin-left: 25px;
  width: max-content;
}


.forum{
  margin-top: 15px;
  width: max-content;
 }

.lancamentos-container {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-right: 0;
  width: max-content;
}

.lancamentos-container img{
   display: flexbox;
   width: 300px;
   height: 300px;
   padding: 8px;
}

.lojinha{
  margin-bottom: 15px;
  font-family: 'Nova Cut', cursive;
  font-size: 30px;
  color: #BF0505;
  justify-content: space-between;
  width: fit-content;
 }

.lojinha img {
  padding: 8px;
}

.ilustracoes{
  display: flex;
}

.livros{  
  width: max-content;
  font-size: 30px;
  margin-bottom: 15px;
  padding: 8px;
}

.livros p, h3{
  color: black;
  font-family:'Gemunu libre', sans-serif;
  font-size: 25px;
}

.livros h2{
  color: #BF0505;
  font-family: 'Nova Cut', cursive;
  font-size: 30px;
}

.livrosVenda img{
  align-content: center;
}
/*_____________footer__________________*/

footer a {
 text-decoration: none;
 justify-content: space-between;
}

footer{
  height: 100%;
  width: 100%;
  position:relative;
  bottom: 0;  
  background-color: #C4C4C4;
  background-image: url("src/assets/img/Footer-padrão-NOVO.png");
  background-size: 100%;
  background-repeat: no-repeat; 
}


.rodape {
  display: flex;columns: auto;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  font-family:'Gemunu Libre', sans-serif;
  font-size: 25px;
  color: black;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: auto;
  margin-bottom: 0px;
  flex-wrap:wrap;
   
}

.blocoInfos a{
  display: block;
}

 .rodape a{
   color: black;
 }

 .titulo-redes p{
  display: block;
  position:relative;
  color: black;
  margin-bottom: 0px;
  
 }

 .links-redes{
   display: flex;
   flex-direction: row;
 }


.links-redes img{
   padding: 8px;
   width: 45px;
   height: 40px;     
 }


.newsletter{
   font-size: 20px;
}

.newsletter form {
  display: flex;
  margin-bottom: 8px;
}

.newsletter input[type="email"] {
    height: 40px;
    width: 200px;
  
  }

.newsletter input[type="email"]::placeholder{
  color: gray;
  font-weight:lighter;
}
button{
  width: 120px;
  color:black;
  background-color: #fffa7b ;
  border: none;
}

 .assinatura p{
  width: 100%;
  font-size: 15px;
  justify-content: center;
  text-align: center;
  color: black;
  flex-direction: column;
 }

 .barras{
  display: none;
  width: 30px;
  height: 30px;
  padding: 8px;

}

.posicionamento-header{
  position: relative;
}

/*#btn-mobile{
  display: none;
}  >>>isso aqui era de um teste que tentei fazer seguindo tutorial do youtube*/



/*___Configuração para tela entre 769px e 1200px (tablet)_________*/
/*___ Acima de 1200px é considerado desktop, portanto segue a configuração já feita acima_____*/

@media screen and (max-width:1200px) {
   .container-grid{
     width:90%;
   }
   .menu a{
     font-size:15px;
     background-size: 70%;
   }

     .logo-botao{
     width:50%;
     height: 50%;
   }

     
  
 /*___Configuração para tela de até 768px (celular)_________*/
 @media screen and (max-width:768px) {
 
.barras{
  display: inline-block;
  width: 45px;
 
}

.menu{
  display: none;
  flex-direction: column;
  width: 150px;
  height: 150px;
  position: absolute;
  background-color: #FFFBA6;
  
  
}

.menu a{
  background-image: none;
  color: #BF0505;
  padding: 5px;
  margin-top: 10px; 
  margin-bottom: 10px;
}

.menu-ativo{
  display: flex;
  position: relative; 
}


.blocoInfos a {
    font-size: 15px;
}

.lancamentos-container >img {
  flex-direction:column;
  flex-wrap: wrap;
}

.links-redes{
width: fit-content;
height: fit-content;

}


 .assinatura {
  position: relative;
}



 /* NAO APAGAR DESSA LINHA  pra BAIXO*/
}
}